body {
  margin: 0;
  padding: 0;
  background-color: aqua;
}

.pelota {
  margin: 0 auto;
  width: 800px;
  height: 600px;
  position: relative;
  box-shadow: inset 0 0 3px #000;
  border-radius: 5px;
  border: 1px solid #111;
  overflow: hidden;
}

/* Animación de la pelota*/
/* Se coloca 1.4s en moveY para efecto de la gravedad*/
img {
  width: 100px;
  height: 100px;
  position: absolute;
  -webkit-animation: moveX 3.05s linear 0s infinite alternate,
    moveY 1.4s linear 0s infinite alternate;
  -moz-animation: moveX 3.05s linear 0s infinite alternate,
    moveY 1.4s linear 0s infinite alternate;
  -o-animation: moveX 3.05s linear 0s infinite alternate,
    moveY 1.4s linear 0s infinite alternate;
  animation: moveX 3.05s linear 0s infinite alternate,
    moveY 1.4s linear 0s infinite alternate;
}

/* Transición de la pelota*/

@-webkit-keyframes moveX {
  from {
    left: 0;
  }
  to {
    left: 700px;
  }
}
@-moz-keyframes moveX {
  from {
    left: 0;
  }
  to {
    left: 700px;
  }
}
@-o-keyframes moveX {
  from {
    left: 0;
  }
  to {
    left: 700px;
  }
}
@keyframes moveX {
  from {
    left: 0;
  }
  to {
    left: 700px;
  }
}
@-webkit-keyframes moveY {
  from {
    top: 0;
  }
  to {
    top: 500px;
  }
}
@-moz-keyframes moveY {
  from {
    top: 0;
  }
  to {
    top: 500px;
  }
}
@-o-keyframes moveY {
  from {
    top: 0;
  }
  to {
    top: 500px;
  }
}
@keyframes moveY {
  from {
    top: 0;
  }
  to {
    top: 500px;
  }
}
